@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: "Quicksand", sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

select{
  width: 200px;
}

button{
  border-radius: 5px;
}